<% form         = local_assigns.fetch(:form) %>
<% custom_field = local_assigns.fetch(:custom_field) %>
<% label        = local_assigns.fetch(:label) %>
<% value        = local_assigns.fetch(:value) %>
<% input_mode   = local_assigns.fetch(:input_mode) { 'optional' } %>

<div class="relative flex flex-col my-4 break-all" data-testid="<%= custom_field.id %>">
  <span class="font-semibold">
    <%= label %>
    <% if input_mode == 'required' %>
      <span class="text-xs ml-2 align-top font-normal"><spen-status-information-label appearance="danger-outline">必須</spen-status-information-label></span>
    <% end %>
  </span>
  <div class="relative">
    <%= form.date_field :value,
      value: value&.value,
      disabled: input_mode == 'uneditable',
      required: input_mode == 'required',
      class: "#{dom_id(custom_field)} input w-full cursor-pointer",
      onclick: "event.preventDefault(); document.querySelector('##{dom_id(custom_field)}_container').classList.toggle('!hidden');"
    %>
    <div id='<%= dom_id(custom_field) %>_container' class="!hidden absolute top-full left-0 max-[360px]:-left-4 z-50 bg-white rounded-md shadow-lg w-auto">
      <moku-datepicker id='<%= dom_id(custom_field) %>'></moku-datepicker>
    </div>
  </div>
  <span class="text-xs text-gray-lv7 whitespace-pre-wrap mt-1 empty:my-0"><%= display_text_with_link(custom_field.hint) %></span>
</div>

<%= javascript_tag do %>
  (function() {
    const fieldId = '<%= dom_id(custom_field) %>';
    const datepicker = document.querySelector(`#${fieldId}`);
    const container = document.querySelector(`#${fieldId}_container`);
    const input = document.querySelector(`.${fieldId}`);

    datepicker.addEventListener('selectedDateChange', (event) => {
      input.value = event.detail;
      container.classList.add('!hidden');
    });

    document.addEventListener('click', (event) => {
      if (!container.contains(event.target) && !input.contains(event.target)) {
        container.classList.add('!hidden');
      }
    });
  })();
<% end %>
