
<>

<my-custom-button></my-custom-button>

<my-calendar-icon></my-calendar-icon>

<my-footer></my-footer>
<my-calendar-icon class="w-10 m-4" aria-hidden="true"></my-calendar-icon>


<my-badge count="99"></my-badge>
<my-badge count=<%= @comment.count %>></my-badge>

<my-button color="danger">Danger</my-button>

<my-select></my-select>
<my-header><%= @school.name %></my-header>

<my-header school-name="<%= @school.name %>"></my-header>

<%= javascript_tag do  %>
  const header = document.querySelector('my-header');

  header.schoolId = <%= @school.id %>;
  header.shownGuide = true;
  header.userInfo = <%= raw @user.to_json %>;
<% end %>



<script>
  const header = document.querySelector('my-header');
  header.userInfo = { "name": "</script><script>alert('INJECTED!')</script>" };
</script>

<my-header data-user-info="<%= @user.to_json %>"></my-header>
<%= javascript_tag do  %>
  const header = document.querySelector('my-header');
  header.userInfo = JSON.parse(header.dataset.userInfo);
<% end %>

<% @user.user_profile.errors.full_messages.each do |msg| %>
  <my-form-error><%= msg %></my-form-error>
<% end %>

<%= javascript_tag do  %> <%# HTML 上は <script></script> に変換される %>
  const select = document.querySelector('my-select');
  select.responsive = true;
  select.size = 5;
  select.optionList = <%== @categories.map { |c| { value: c.id, text: c.name } }.to_json %>;
<% end %>

<my-select data-options="<%= @categories.map { |c| { value: c.id, text: c.name } }.to_json %>"></my-select>
<%= javascript_tag do %>
  const select = document.querySelector('my-select');
  select.optionList = JSON.parse(select.dataset.options);
<% end %>
<div class="tooltip-container">テキスト</div>
<my-tooltip>
  <button>ボタン</button>
</my-tooltip>



<%= form_with model: @user do |form| %>
  <%= form.date_field :birth_date,
    readonly: true,
    onclick: %|document.querySelector('my-calendar').classList.toggle('hidden');|
  %>
  <my-calendar class="hidden"></my-calendar>
<% end %>

<%= javascript_tag do %>
  const calendar = document.querySelector('my-calendar');
  const input = document.querySelector('input[type="date"]');

  calendar.addEventListener('selectedDateChange', (event) => {
    input.value = event.detail;
  });
<% end %>


<%= form_with model: @user do |form| %>
  <%= form.my_date_field :birth_date %>
<% end %>

<%= form_with model: @user do |form| %>
  <%= form.date_field :birth_date %>
<% end %>

<%= form_with model: @user do |form| %>
  <%= form.date_field :birth_date %>
  <%= form.submit %>
<% end %>

<form action="/users" method="post" accept-charset="UTF-8">
  <input type="date" name="user[birth_date]" id="user_birth_date">
  <input name="commit" type="submit" value="Update User">
</form>

<%= form_with model: @user, builder: MyFormBuilder do |form| %>
  <%= form.date_field :birth_date %>
  <%= form.submit %>
<% end %>



<div id="<%= dom_id @user %>">
  <p>
    <strong>名前:</strong>
    <%= @user.name %>
  </p>
  <p>
    <strong>メール:</strong>
    <%= @user.email %>
  </p>
  <my-custom-button>
    確認する
  </my-custom-button>
</div>


<%= form_with model: @user_profile do |f| %>
  <div>
    <label for="name">名前</label>
    <%= f.text_field :name, required: true %>
  </div>

  <div>
    <label for="grade">学年</label>
    <% grades = SchoolGrade.all.map { |g| [g.name, g.id] } %>
    <%= f.select :grade, 
      options_for_select(grades, @user_profile.grade),
      include_blank: "選択してください" 
    %>
  </div>

  <div>
    <label for="birth_date">生年月日</label>
    <%= f.date_field :birth_date, required: true %>
  </div>

  <%= f.submit "保存" %>
<% end %>



<%= form_with model: @user_profile do |f| %>
  <% grades = SchoolGrade.all.map { |g| [g.name, g.id] } %>
  <%= f.select :grade, 
    options_for_select(grades, @user_profile.grade)
  %>
  
  <%= f.submit "保存" %>
<% end %>


<input type="text" name="user[name]" id="user_name" value="">
<my-form-error>不正な入力です</my-form-error>

