<%# dom_id(cat) が一致した要素が turbo frame で置き換えられる %>
<%= turbo_frame_tag dom_id(cat) do %>
  <ul>
    <li>Id: <%= cat.id %></li>
    <li>Cat: <%= cat.name %></li>
    <li>Age: <%= cat.age %></li>
  </ul>
  <div class="d-flex">
    <%= link_to "編集", edit_cat_path(cat), class: "btn btn-sm btn-primary" %>
    <%= button_to "削除", cat, method: :delete, class: "btn btn-sm btn-danger" %>
  </div>
<% end %>
