<%# 全体を`turbo_frame_tag`で囲う %>
<%= turbo_frame_tag dom_id(cat) do %>
  <ul>
    <li>Cat: <%= cat.name %></li>
    <li>Age: <%= cat.age %></li>
  </ul>
  <div>
    <%= link_to "編集", edit_cat_path(cat) %>
    <%= button_to "削除", cat, method: :delete%>
  </div>
<% end %>
