<p style="color: green"><%= notice %></p>

<% content_for :title, "Cats" %>

<h1>Cats</h1>

<div id="cats">
  <% @cats.each do |cat| %>
    <%# _cat.html.erb is a partial that renders a single cat %>
    <%= render cat %>
    <p>
      <%= link_to "Show this cat", cat %>
    </p>
  <% end %>
</div>

<%== pagy_nav(@pagy) %>

<%= link_to "New cat", new_cat_path %>
