<p style="color: green"><%= notice %></p>

<% content_for :title, "Cats" %>

<h1>Cats</h1>

<%= search_form_for @search, html: { data: { turbo_frame: "cats-list" } } do |f| %>
  <%= f.label :name_cont, "名前" %>
  <%= f.search_field :name_cont %>

  <%= f.label :age_eq, "年齢" %>
  <%= f.search_field :age_eq %>
  <%= f.submit %>

  <%= link_to "クリア", cats_path %>
<% end %>

<%= turbo_frame_tag "cats-list" do %>
  <%= sort_link @search, :name %>
  <%= sort_link @search, :age %>
  <% @cats.each do |cat| %>
    <%= turbo_frame_tag dom_id(cat) do %>
      <%= render cat %>
    <% end %>
  <% end %>
  <%== pagy_nav @pagy %>
<% end %>

<%= link_to "New cat", new_cat_path %>
